

  @media (min-width: 301px) and (max-width: 600px) {
    body, html {
        background-image: url("resources/android_forest.jpg");
      
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        margin: 0;
        background-attachment: fixed;
        height: 100%;
        overflow-y: auto;
        position: relative;
        background-position: center top;
        background-repeat: no-repeat;
    }
  }

  @media (min-width: 601px) {
    body, html {
      
      
    /* The image used */
    background-image: url("resources/background.jpg");
  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
    background-attachment: fixed;
    max-width: 100%;
   
      
    }
  }

  

  .headerdiv{
      position: fixed;
      z-index: 10000;
      margin-bottom: 5%;
      margin-top: 2%;
     
  }

  .titleword{
      color: azure;
      font-family: 'Pacifico', cursive;
      padding-left: 5%;
      font-size: 300%;
      
      
  }

 
  .soundcontroldiv{
      
      position: relative;
      display: inline-block;
      
      padding-top: 5%;
      margin-left: 5%;
  }

  .play{
    
    position: relative;
    max-width: 100%;
    width: 30%;
    
  }

    .silent{
  
     position: absolute;
     width: 30%;
     
          visibility: hidden;
     
    }

        
    
        

  #butterfly_moving {
    width: 10%;
    height:10%;
    position:absolute;
    }
    #butterfly_many{
        position: absolute;
        width: 200px;
    }

  #butterfly_moving{
      position: absolute;
  }

  
.parentdiv_animal{
    position: relative;
    display: inline-block;
}


#my_animal_rotate{
    
    
    width: 60%;
    margin-left: 10%;
    position: relative;
    -webkit-animation:spin 5s linear infinite;
    -moz-animation:spin 5s linear infinite;
    animation:spin 5s linear infinite;
}



#my_animal_button{

    
    position: absolute;
    top: 6%;
    right: 20%;
   
    
    /*left: 9.8%;*/
    width: 50%;
    max-width: 100%;
    
}
#animalcirclediv {
    background: lightblue;
    background-color: rgba(0, 205, 245, 0.8);
    border-radius: 50%;
    /*width: 14.5rem;
    height: 14.5rem;*/
    display: none;
    position: absolute;
    top: 6%;
   
    left: 30%;
   
}
#plantcirclediv {
    background: lightblue;
    background-color: rgba(0, 205, 245, 0.8);
    border-radius: 50%;
    /*width: 14.5rem;
    height: 14.5rem;*/
    display: none;
    position: absolute;
    top: 6%;
   
    left: 30%;
   
}
#birdcirclediv {
    background: lightblue;
    background-color: rgba(0, 205, 245, 0.8);
    border-radius: 50%;
    /*width: 14.5rem;
    height: 14.5rem;*/
    display: none;
    position: absolute;
    top: 6%;
   
    left: 30%;
   
}


.parentdiv_plant{
    position: relative;
    display: inline-block;
}
#my_plant_button{


    position: absolute;
    top: 6%;
    right: 20%;
   
    
    /*left: 9.8%;*/
    width: 50%;
    max-width: 100%;
    
}
#my_plant_rotate{
  
    width: 60%;
    margin-left: 10%;
    position: relative;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

.parentdiv_bird{
    position: relative;
    display: inline-block;
}

#my_bird_button{


    
    position: absolute;
    top: 6%;
    right: 20%;
   
    
    /*left: 9.8%;*/
    width: 50%;
    max-width: 100%;
    
}
#my_bird_rotate{
    
    
    width: 60%;
    margin-left: 10%;
    position: relative;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

#animal_close_button{
    display: none;
    position: absolute;
    width: 10%;
    left: 50%;
    top: 40%;
}

#plant_close_button{
    display: none;
    position: absolute;
    width: 10%;
    left: 50%;
    top: 40%;
}

#bird_close_button{
    display: none;
    position: absolute;
    width: 10%;
    left: 50%;
    top: 40%;
}

#tiger_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 33%;
    top: 40%;
}

#lion_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 39%;
    top: 16%;
}

#leopard_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 54%;
    top: 14%;
}

#bear_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 64%;
    top: 36%;
}

#deer_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 41%;
    top: 61%;
}
#hippo_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 57%;
    top: 60%;
}

#plant1_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 33%;
    top: 40%;
}

#plant2_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 39%;
    top: 16%;
}

#plant3_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 54%;
    top: 14%;
}

#plant4_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 64%;
    top: 36%;
}

#plant5_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 41%;
    top: 61%;
}
#plant6_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 57%;
    top: 60%;
}

#bird1_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 33%;
    top: 40%;
}

#bird2_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 39%;
    top: 16%;
}

#bird3_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 54%;
    top: 14%;
}

#bird4_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 64%;
    top: 36%;
}

#bird5_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 41%;
    top: 61%;
}
#bird6_icon{
    display: none;
    position: absolute;
    width: 13%;
    left: 57%;
    top: 60%;
}


.species_div{
    padding-top: 12%;
    position: relative;
    
    
}



.column {
    display: table-cell;
text-align: center;
vertical-align: middle;


   
}


@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

/*tooltip*/





.mt-100 {
    margin-top: 150px;
    margin-left: 200px
}

.card-header {
    background-color: #9575CD
}

h5 {
    color: rgb(161, 17, 17)
}



.mytooltip {
   
    
    z-index: 999;
    
    
}

.mytooltip .tooltip-item {
    /*background: rgba(0, 0, 0, 0.1);*/
    cursor: pointer;
    position: absolute;
    
}

.mytooltip .tooltip-content {
    position: absolute;
    z-index: 9999;
    width: 400px;
   
   
    text-align: left;
    font-size: 14px;
    line-height: 10px;
    
    
    padding-top: 5px;
    
    
    border-top-left-radius: 60%;
    border-bottom-left-radius: 60%;


    -webkit-box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
    box-shadow: -10px -10px 15px rgba(244, 247, 244, 0.171);
    background: rgba(245, 245, 245, 0.904);
    
    opacity: 0;
    transition: opacity 1s;
    cursor: default;
    pointer-events: none
}

.mytooltip .tooltip-content::after {
    /*content: '';*/
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    opacity: 1;
    position: absolute;
    pointer-events: none;
    border-color: #f2f6f8 transparent transparent;
    border-width: 10px;
    margin-left: -10px;

    

    
}

.mytooltip .tooltip-content img {
    position: relative;
    height: 200px;
    padding-top: 8%;
    padding-left: 2%;
    padding-bottom: 5%;
    display: block;
    float: left;
    margin-right: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 60%;
    border-bottom-left-radius: 60%;


    -webkit-box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
    box-shadow: -10px -10px 15px rgba(244, 247, 244, 0.171);
    background: rgba(245, 245, 245, 0.904);
    
}

.mytooltip .tooltip-item::after {
    content: '';
    position: absolute;
    
    pointer-events: none;
    
}

.mytooltip:hover .tooltip-item::after {
    pointer-events: auto
}

.mytooltip:hover .tooltip-content {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);

}

.mytooltip:hover .tooltip-content2 {
    opacity: 1;
    font-size: 18px;
   
    
}

.mytooltip .tooltip-text {
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    line-height: 10px;
    display: block;
    font-weight: bolder;
    padding-bottom: 1em;
    padding-top: 1em;
    color: rgb(18, 73, 7);

    
    
}

.mytooltip .tooltip-text2 {
    font-size: 15px;
    font-family: 'Zen Kurenaido', sans-serif;
    line-height: 30px;
    display: block;
    font-weight: bolder;
    
    color: rgb(18, 73, 7);

    padding-top: 5px;
    padding-bottom: 5px;
    
    border-top-left-radius: 60%;
    border-bottom-left-radius: 60%;


    -webkit-box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
    box-shadow: -10px -10px 15px rgba(244, 247, 244, 0.171);
    background: rgba(245, 245, 245, 0.904);
    
}

.mytooltip .tooltip-text3 {
    font-size: 15px;
    font-family: 'Zen Kurenaido', sans-serif;
    line-height: 30px;
    display: block;
    font-weight: bolder;
    
    color: rgb(18, 73, 7);
    
}

/* Popup message*/


.overlay {
  display: none;
  opacity: 0;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0; left: 0;
  width: auto;
  height: auto;
  z-index: 100;
  cursor: pointer;
  transition: opacity .3s;
}

.popup {
  display: none;
  opacity: 0;
  width: 50vh; height: 50vh;
  min-width: 300px;
  min-height: 300px;
  position: fixed;
  top: 25vh; left: 40%;
  z-index: 101;
  transition: opacity .3s;

  background-color: white;
  padding: 60px 20px 40px;
  border-radius: 6px;
}

.open {
  display: block;
  opacity: 1;
}

/* Popup content */

.for-call-popup {
  display: none;
}

/* Closing button inside popup */

.popup-close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 32px;
  height: 32px;
  opacity: .3;
  cursor: pointer;
  z-index: 102;
}

.popup-close-btn:hover {
  opacity: 1;
}

.popup-close-btn:before, .popup-close-btn:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}

.popup-close-btn:before {
  transform: rotate(45deg);
}

.popup-close-btn:after {
  transform: rotate(-45deg);
}